body {
  background-color: rgba(0, 0, 0);
  margin: 0, 0, 0, 0;
  border: 0, 0, 0, 0;
  color: aliceblue;
  font-family: Montserrat,sans-serif;
}

a {
  color: whitesmoke;
  white-space:nowrap;
}

/* HEADER ---------------------------------------------*/
.Logo {
  border: 0px;
  padding-top: 5px;
  width: 200px;
  height: auto;
  vertical-align: middle;
  display: flex;
  flex: none;
}

.antiLogo {
  width: 200px;
  min-width: 0px;
}

.navigation {
  display: flex;
  flex: auto;
}

.navigation li {
  display: block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.navigation ul {
  display: flex;
  margin: auto;
  padding: 0;
}

.navigation a {
  color: whitesmoke;
  text-decoration: none;
  white-space:nowrap;
}

.header {
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(12px);
}

.header .header-contents {
  padding: 1em;
  display: flex;
  height: 50px;
}

nav {
  position: sticky;
  top: -0.5px;
  z-index: 3;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.img-menu {
  cursor: pointer;
  vertical-align: left;
}

/* HOME ---------------------------------------------*/

.db1 {
  background-color: black;
  min-height: calc(100vh - 82px) !important;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.bg-image {
  background-image: url(./img/bg-image.jpg);
  background-position: center;
  background-size: cover; /* version standardisée */
  z-index: -1; /* Keep the background behind the content */     
}

.conteneur {
  margin: 0px;
  border: 0;
  padding: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.conteneur h1 {
  margin: auto;
  text-align: center;
  flex: auto;
  font-size: 20em;
}

.conteneur h2 {
  margin: auto;
  text-align: center;
  flex: initial;
  font-size: 3em;
}

.conteneur p {
  margin: auto;
  text-align: center;
  flex: initial;
  font-size: 1em;
}

.flex {
  display: flex;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: calc(100vh - 82px) !important;
}

.justify-content-center {
  justify-content: center!important;
}

/* 404 ----------------------------------------------- */