.board {
    background-color: beige;
    height: calc(100vh - 82px) !important;
}

.map {
    height: calc(100vh - 150px) !important;
    width: 100%;
}

.searchPays {
    position: sticky;
}


input[type=search] {
    padding: 10px;
    box-sizing: none;
    appearance: auto;
    border-style: none;
    border-width: 0px;
    border-color: white;
    border-image: none;
}